.a{
	position: absolute;
	left:42% ;
	top:3% ;
	font-family: Lucida bright;
	color:  #3FA72D;

}
.ab{
	position: absolute;
	left:43% ;
	top:9% ;
	font-family: Lucida bright;
	color:  #3FA72D;

}
.pa{
	position: absolute;
	left:15% ;
	top:15% ;
	font-family:Lucida bright;
	color:  #3FA72D;

}
.pb{
	position: absolute;
	left:15% ;
	top:50% ;
	font-family: Lucida bright;
	color:  #3FA72D;

}
.pc{
	position: absolute;
	left:15% ;
	top:95% ;
	font-family: Lucida bright;
	color:  #3FA72D;

}
.pd{
	position: absolute;
	left:15% ;
	top:140% ;
	font-family: Lucida bright;
	color:  #3FA72D;

}
.pe{
	position: absolute;
	left:15% ;
	top:185% ;
	font-family: Lucida bright;
	color:  #3FA72D;

}
.pf{
	position: absolute;
	font-family: Lucida bright;
	color:  #3FA72D;
	left: 35%;
	top: 25%;
}
.pg{
	position: absolute;
	font-family: Lucida bright;
	color: #3FA72D;
	left: 43%;
	top: 3%;

}
.ph{
	position: absolute;
	font-family: Lucida bright;
	color: #3FA72D;
	left: 20%;
	top: 7%;
}
.pi{
    position: absolute;
	font-family: Lucida bright;
	color: #3FA72D;
	left: 20%;
	top: 30%;
}
.pj{
	position: absolute;
	font-family: Lucida bright;
	color: #3FA72D;
	left: 20%;
	top: 57%;
}
.pk{
	position: absolute;
	font-family: Lucida bright;
	color: #3FA72D;
	left: 5%;
	right: 5%;
}



.ca{
	 background-color:#B2BABB ;
	 position: absolute;
	 left: 15% ;
	 top:20% ;
	 width:60% ;
	 height:25% ;
	 border: double;
	border-color: #7F8C8D;

}
.cb{
	 background-color:#B2BABB ;
	 position: absolute;
	 left: 15% ;
	 top:55% ;
	 width:60% ;
	 height:25% ;
	 border: double;
	border-color: #7F8C8D;
	

}
.cc{
	 background-color:#B2BABB ;
	 position: absolute;
	 left: 15% ;
	 top:100% ;
	 width:60% ;
	 height:25% ;
	 border: double;
	border-color: #7F8C8D;
	

}
.cd{
	 background-color:#B2BABB ;
	 position: absolute;
	 left: 15% ;
	 top:145% ;
	 width:60% ;
	 height:25% ;
	 border: double;
	border-color: #7F8C8D;
	

}
.ce{
	 background-color:#B2BABB ;
	 position: absolute;
	 left: 15% ;
	 top:190% ;
	 width:60% ;
	 height:25% ;
	 border: double;
	border-color: #7F8C8D;
	

}
.cf{
	background-color: #99A3A4;
	position: absolute;
	left: 0%;
	top: 0%;
	width: 15%;
	height: 100%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;
}
.cg{
	background-color: #99A3A4;
	position: absolute;
	left: 85%;
	top: 0%;
	width: 15%;
	height: 100%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;

}
.ch{
	background-color: #99A3A4;
	position: absolute;
	left: 10%;
	top: 20%;
	width: 60%;
	height: 25%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;

}
.ci{
	background-color: #99A3A4;
	position: absolute;
	left: 75%;
	top: 20%;
	width: 20%;
	height: 25%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;

}
.cj{
	background-color: #99A3A4;
	position: absolute;
	left: 10%;
	top:55%;
	width: 33%;
	height: 71%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;

}
#ck{
	background-color: #99A3A4;
	position: absolute;
	left: 48%;
	top: 55%;
	width: 47%;
	height: 20%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;

}
#cl{
	background-color: #99A3A4;
	position: absolute;
	left: 48%;
	top: 80%;
	width: 47%;
	height: 20%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;

}
#cm{
	background-color: #99A3A4;
	position: absolute;
	left: 48%;
	top: 106%;
	width: 47%;
	height: 20%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;


}
.cn{
	background-color: #99A3A4;
	position: absolute;
	left: 30%;
	top: 135%;
	width: 40%;
	height: 15%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;

}
.co{
	background-color: transparent;
	position: absolute;
	left: 30%;
	top: 150%;
	width: 40%;
	height: 15%;
}
.cp{
	background-color: #99A3A4;
	position: absolute;
	left: 15%;
	top: 10%;
	width: 70%;
	height: 80%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;

}
.cq{
	background-color: #99A3A4;
	position: absolute;
	left: 15%;
	top: 100%;
	width: 70%;
	height: 80%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;

}
.cr{
	background-color: #99A3A4;
	position: absolute;
	left: 15%;
	top: 190%;
	width: 70%;
	height: 80%;
	border-color: #7F8C8D;
	border: double;
	border-color: #7F8C8D;

}


.ba{
	background-color: #99A3A4;
	position: absolute;
	left: 27%;
	top: 25%;
	width: 20%;
	height: 15%;
	border: double;
	border-color: #7F8C8D;

}
.bb{
	background-color: #99A3A4;
	position: absolute;
	left: 53%;
	top: 25%;
	width: 20%;
	height: 15%;
	border: double;
	border-color: #7F8C8D;

}
.bc{
	background-color: #99A3A4;
	position: absolute;
	left: 27%;
	top: 50%;
	width: 20%;
	height: 15%;
	border: double;
	border-color: #7F8C8D;

}
.bd{
	background-color: #99A3A4;
	position: absolute;
	left: 53%;
	top: 50%;
	width: 20%;
	height: 15%;
	border: double;
	border-color: #7F8C8D;


}
.be{
	background-color: #99A3A4;
	position: absolute;
	left: 43%;
	top: 70%;
	width: 13%;
	height: 28%;
	border: double;
	border-color: #7F8C8D;

}


.ia{
	position: absolute;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	border:solid;
	border-color: #7F8C8D;

}
.ib{
	position: absolute;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
    border:solid;
	border-color: #7F8C8D;
}
.ic{
	position: absolute;
	left: 5%;
	top: 3%;
	width: 90%;
	height: 93%;
    border:solid;
	border-color: #7F8C8D;

}
.v{
		position: absolute;
	left: 5%;
	top: 3%;
	width: 90%;
	height: 93%;
    border:solid;
	border-color: #7F8C8D;m hnjb
}

